In [1]:
import pandas as pd 
import numpy as np

In [13]:
cases = pd.read_csv('Data/COVIDCases.csv')
cases = cases.groupby(['UF','Ano_Semana'])[['CasosAcumulados','ObitosAcumulados','CasosNovos','ObitosNovos']].sum().reset_index()

# Use the Ano_Semana column to extract the year and week number
cases['Year'] = cases['Ano_Semana'].str.split('/').str[1]
cases['Week'] = cases['Ano_Semana'].str.split('/').str[0]
cases.drop('Ano_Semana', axis=1, inplace=True)

cases.set_index(['UF','Year','Week'], inplace=True)

cases

              CasosAcumulados  ObitosAcumulados  CasosNovos  ObitosNovos
UF Year Week
AC 2024 1              167530              2070        1485            3
        2              167700              2070         170            0
        3              168012              2075         312            5
        4              168012              2075           0            0
        5              168012              2075           0            0
...                       ...               ...         ...          ...
TO 2024 3              373187              4259           0            0
        4              375220              4262        2033            3
        5              376330              4266        1110            4
        6              377571              4267        1242            1
        7              378459              4268         888            1

[189 rows x 4 columns]

In [59]:
df = pd.read_excel('Data/Serie_historica_2003-2019_subdimensoes_do_IMLEE.xlsx')
df = pd.melt(df, id_vars=['ID','UF'], var_name='Year', value_name='IMLEE').sort_values(['UF','Year'])

# Rename UF as State and replace its values 
df.rename(columns={'UF':'State'}, inplace=True)

brazilian_states = {
    'ACRE': 'AC',
    'ALAGOAS': 'AL',
    'AMAPÁ': 'AP',
    'AMAZONAS': 'AM',
    'BAHIA': 'BA',
    'CEARÁ': 'CE',
    'DISTRITO FEDERAL': 'DF',
    'ESPÍRITO SANTO': 'ES',
    'GOIÁS': 'GO',
    'MARANHÃO': 'MA',
    'MATO GROSSO': 'MT',
    'MATO GROSSO DO SUL': 'MS',
    'MINAS GERAIS': 'MG',
    'PARÁ': 'PA',
    'PARAÍBA': 'PB',
    'PARANÁ': 'PR',
    'PERNAMBUCO': 'PE',
    'PIAUÍ': 'PI',
    'RIO DE JANEIRO': 'RJ',
    'RIO GRANDE DO NORTE': 'RN',
    'RIO GRANDE DO SUL': 'RS',
    'RONDÔNIA': 'RO',
    'RORAIMA': 'RR',
    'SANTA CATARINA': 'SC',
    'SÃO PAULO': 'SP',
    'SERGIPE': 'SE',
    'TOCANTINS': 'TO'
}

df['UF'] = df['State'].map(brazilian_states)

#Keep only if year=2019
df = df[df['Year'] == 2019]

df

     ID                State  Year     IMLEE  UF
417  12                 ACRE  2019  5.958055  AC
429  27              ALAGOAS  2019  6.555318  AL
421  16                AMAPÁ  2019  6.202433  AP
418  13             AMAZONAS  2019  5.813226  AM
431  29                BAHIA  2019  6.853002  BA
425  23                CEARÁ  2019  6.598357  CE
433  32       ESPÍRITO SANTO  2019  7.285271  ES
441  52                GOIÁS  2019  6.131939  GO
423  21             MARANHÃO  2019  6.723661  MA
440  51          MATO GROSSO  2019  5.515078  MT
439  50   MATO GROSSO DO SUL  2019  5.964064  MS
432  31         MINAS GERAIS  2019  7.121971  MG
436  41               PARANÁ  2019  6.709469  PR
427  25              PARAÍBA  2019  6.686895  PB
420  15                 PARÁ  2019  7.131125  PA
428  26           PERNAMBUCO  2019  6.789643  PE
424  22                PIAUÍ  2019  5.452824  PI
434  33       RIO DE JANEIRO  2019  7.629980  RJ
426  24  RIO GRANDE DO NORTE  2019  6.604653  RN
438  43    RIO GRANDE DO SUL  2019  7.069954  RS
416  11             RONDÔNIA  2019  6.006014  RO
419  14              RORAIMA  2019  5.686497  RR
437  42       SANTA CATARINA  2019  6.847727  SC
430  28              SERGIPE  2019  4.797515  SE
435  35            SÃO PAULO  2019  6.679744  SP
422  17            TOCANTINS  2019  4.931612  TO

In [66]:
# Import Lockdown data
ld = pd.read_excel('Data/Lockdown Stringency.xlsx')

#Keep only the first two columns
ld = ld.iloc[:,0:2]

#Rename columns
ld.rename(columns={'Lockdown Stringency Score':"LSS"}, inplace=True)
ld['State'] = ld['State'].str.upper()

#Remove spaces from the begining or end of values in State column
ld['State'] = ld['State'].str.strip()

# Merge the lockdown and IMLEE dataframes
df = pd.merge(df, ld, on='State', how='left')

df

    ID                State  Year     IMLEE  UF       LSS
0   12                 ACRE  2019  5.958055  AC  2.461193
1   27              ALAGOAS  2019  6.555318  AL  4.108177
2   16                AMAPÁ  2019  6.202433  AP  3.426266
3   13             AMAZONAS  2019  5.813226  AM  2.937432
4   29                BAHIA  2019  6.853002  BA  3.516136
5   23                CEARÁ  2019  6.598357  CE  3.407203
6   32       ESPÍRITO SANTO  2019  7.285271  ES  3.183211
7   52                GOIÁS  2019  6.131939  GO  4.612949
8   21             MARANHÃO  2019  6.723661  MA  5.717593
9   51          MATO GROSSO  2019  5.515078  MT  2.685866
10  50   MATO GROSSO DO SUL  2019  5.964064  MS  3.719363
11  31         MINAS GERAIS  2019  7.121971  MG  3.682938
12  41               PARANÁ  2019  6.709469  PR  4.133306
13  25              PARAÍBA  2019  6.686895  PB  3.668301
14  15                 PARÁ  2019  7.131125  PA  4.014842
15  26           PERNAMBUCO  2019  6.789643  PE  3.940972
16  22                PIAUÍ  2019  5.452824  PI  3.250272
17  33       RIO DE JANEIRO  2019  7.629980  RJ  3.256059
18  24  RIO GRANDE DO NORTE  2019  6.604653  RN  4.032884
19  43    RIO GRANDE DO SUL  2019  7.069954  RS  3.828295
20  11             RONDÔNIA  2019  6.006014  RO  2.375408
21  14              RORAIMA  2019  5.686497  RR  2.171841
22  42       SANTA CATARINA  2019  6.847727  SC  2.950932
23  28              SERGIPE  2019  4.797515  SE  4.377040
24  35            SÃO PAULO  2019  6.679744  SP  4.527505
25  17            TOCANTINS  2019  4.931612  TO  3.682258

In [69]:
# Regress LSS on IMLEE using formula interface
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Create a model    
model = smf.ols('LSS ~ IMLEE', data=df) 

# Fit the model
results = model.fit()

# Print a summary of the model
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    LSS   R-squared:                       0.037
Model:                            OLS   Adj. R-squared:                 -0.003
Method:                 Least Squares   F-statistic:                    0.9235
Date:                Mon, 04 Mar 2024   Prob (F-statistic):              0.346
Time:                        16:46:12   Log-Likelihood:                -29.336
No. Observations:                  26   AIC:                             62.67
Df Residuals:                      24   BIC:                             65.19
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.2656      1.400      1.619      0.119      -0.623       5.154
IMLEE          0.2097      0.218      0.961      0.346      -0.241       0.660
==============================================================================
Omnibus:                        2.606   Durbin-Watson:                   1.590
Prob(Omnibus):                  0.272   Jarque-Bera (JB):                1.379
Skew:                           0.530   Prob(JB):                        0.502
Kurtosis:                       3.388   Cond. No.                         60.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.